<!--
  This is the view for the course edit page.

  Authors:
    Jeremiah DeGreeff
  Created on 1/29/2019
  Last Modified 5/13/2019

  Example Context:
    @course A Course object with existing data.
-->

<h1>Edit Course</h1>

<%= render 'form' %>

<%= link_to 'Back', courses_path %>
