<!--
  This is the view for the new course page.

  Authors:
    Jeremiah DeGreeff
  Created on 1/29/2019
  Last Modified 5/13/2019

  Example Context:
    @course A new Course object.
-->

<h1>New Course</h1>

<%= render 'form' %>

<%= link_to 'Back', courses_path %>
